/***
GENERAL
***/
*{
	margin: 0;
	padding: 0;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 12px;
}
ul, ol{
	list-style: none;
	height: auto;
	overflow: hidden;
}
a{
	text-decoration: none;
}

/***
CLASSES
***/
.bold{
	font-weight: bold;
}

.outline{
	border: 5px solid white;
}

/***
SPECIFICS
***/
#container{
	background-image: url('../background.jpg');
	background-size: 1200px;
	background-repeat:no-repeat;
	height: auto;
	overflow: hidden;
	width: 960px;
}

#banner{
	background: linear-gradient(to bottom, #E9E9E9, white 48%);
	height: auto;
	overflow: hidden;
	padding: 0 25px;
}
	#banner p{
		margin-top: 40px;
		text-transform:uppercase;
		font-size: 18px;
		font-weight: bold;
		float: right;
	}

#nav{
	border-top: 1px solid #BEBFC0;
	background-color: #D9DFE4;
	padding-bottom: 30px;
}
	#nav ul{
		background: linear-gradient(to bottom, #EEF1F3 50%, #D9DFE4 50%);
		padding-left: 30px;
	}
	#nav li{
		float: left;
		padding: 5px 20px;
		border-left: 1px solid #FBFBFB;
		border-right: 1px solid #CFD1D2;
	}
	#nav a{
		text-transform:uppercase;
		color: #6E767B;
		font-weight: bold;
		font-size: 10px;
	}

#content{
	margin: 13px 30px;
	height: auto;
	overflow: hidden;
}

#about_content{
	width: 900px;
	height: auto;
	overflow: hidden;
}
	#about_content img{
		float: left;
		margin-right: 20px;
	}

.info_box{
	background-color: white;
	border: 2px solid #242322;
	width: 210px;
	height: 240px;
	margin-right: 13px;
	float: left;
	overflow: hidden;
	position: relative;
}
.info_box:last-child{
	margin: 0;
} 
	.info_box h2{
		padding: 5px 10px;
		text-transform:uppercase;
		background: linear-gradient(to bottom, #FFCE5A 50%, #FFC621 50%);
		font-weight: bold;
		border-bottom: 2px solid #A38D51;
	}
	.info_box p{
		margin: 10px 10px 0 10px;
	}
	.info_box button{
		background-image: url('../readMoreBtn.png');
		background-repeat: no-repeat;
		text-transform:uppercase;
		border: none;
		width: 92px;
		height: 22px;
		font-size: 10px;
		margin: 13px;
		vertical-align: baseline;
		position: absolute;
		bottom: 0;
		right: 0;
	}

.special_box{
	background-color: rgba(255, 255, 255, 0.3);
	border: none;
	width: 480px;
	height: 263px;
}
	.special_box h2{
		text-transform:uppercase;
		background: linear-gradient(to bottom, #FFCF57 50%, #FFC620 50%);
		border: none;
	}
	.special_box p{
		color: white;
		margin: 15px;
	}

.caption{
	margin: 10px;
}
	.caption img{
		width: 50px;
		border-bottom-right-radius: 2px;
		border-top-right-radius: 2px;
	}
	.caption p{
		margin: 10px;
		color: #8B8C5E;
		font-size: 11px;
		display: inline;
	}
